/* Safe Loader Styles */
.cp-safe-loader {
  animation: cp-safe-loader-spin 1s linear infinite;
}

.cp-safe-loader-ring {
  opacity: 0.6;
}

.cp-safe-loader-ring:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes cp-safe-loader-spin {
  0% {
    transform: rotate(0deg);
    stroke-dasharray: 1, 100;
  }
  50% {
    stroke-dasharray: 60, 100;
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    stroke-dasharray: 1, 100;
  }
}